
:root {
	--color-i3usykn1w: 208, 178, 63;
	--color-i9bgf442g: 208, 178, 63;
	--color-iqsqkrgoa: 208, 178, 63;
	--color-iig8j1b8w: 208, 178, 63;
	--color-i2fu2n2va: 208, 178, 63;
	--color-i8ku6h5x9: 208, 178, 63;
	--color-ifs6otuvl: 208, 178, 63;
	--color-iybfjxl01: 208, 178, 63;
	--color-ir7h4dvic: 208, 178, 63;
	--color-izeeox7o2: 208, 178, 63;
	--color-izr25jrn7: 208, 178, 63;
	--color-iv0lsoqd7: 208, 178, 63;
	--color-ioxvu5c5a: 208, 178, 63;
	--color-i2gv2sh6f: 208, 178, 63;
	--color-i7a5zj3ze: 208, 178, 63;
	--color-itrlpt9mi: 208, 178, 63;
	--color-itnqeu385: 208, 178, 63;
	--color-idni0pb3v: 208, 178, 63;
	--color-i80pc4c51: 208, 178, 63;
	--color-ivip9576t: 208, 178, 63;
	--color-ikiiwit1d: 208, 178, 63;
	--color-ibdz505ev: 208, 178, 63;
	--color-ihb9wrovj: 208, 178, 63;
	--color-ieskglmvx: 208, 178, 63;
	--color-izntm0z3c: 208, 178, 63;
	--color-i1mwlexy8: 208, 178, 63;
	--color-i73jaahus: 208, 178, 63;
	--color-irzsrjhyp: 208, 178, 63;
	--color-iqy05dvnm: 208, 178, 63;
	--color-iijehunn7: 208, 178, 63;
	--color-iumzqdqux: 208, 178, 63;
	--color-i264xujrl: 208, 178, 63;
	--color-ix5oo72qo: 208, 178, 63;
	--color-ijm4p35l0: 208, 178, 63;
	--color-idisbdljm: 208, 178, 63;
	--color-i5o2vep3u: 208, 178, 63;
	--color-i9ju0stw5: 208, 178, 63;
	--color-i5lhlzcvl: 208, 178, 63;
	--color-i8jknqz28: 208, 178, 63;
	--color-irfi73dpz: 208, 178, 63;
	--color-i9t7qullx: 208, 178, 63;
	--color-im55yglgw: 208, 178, 63;
	--color-iq0xytzwb: 208, 178, 63;
	--color-iwgmpm1uf: 208, 178, 63;
	--color-iebyisnwq: 208, 178, 63;
	--color-iyf3tqath: 208, 178, 63;
	--color-iy468xmjg: 208, 178, 63;
	--color-ij33zqmzu: 208, 178, 63;
	--color-io3ly753s: 208, 178, 63;
	--color-i9h0n56l2: 33, 32, 37;
	--color-ie237yw9g: 33, 32, 37;
	--color-i2ptcw5qg: 33, 32, 37;
	--color-i4b1mm2nk: 33, 32, 37;
	--color-i2cptq0xl: 33, 32, 37;
	--color-iwh4p4d69: 33, 32, 37;
	--color-ii8dvarkt: 33, 32, 37;
	--color-iq9fkqrvy: 33, 32, 37;
	--color-itgchzyo8: 33, 32, 37;
	--color-iodtlopve: 33, 32, 37;
	--color-ij45ei805: 33, 32, 37;
	--color-i5in72dpt: 33, 32, 37;
	--color-ihdsxa1oh: 33, 32, 37;
	--color-ighypde41: 33, 32, 37;
	--color-ikmyy0dfy: 241, 249, 252;
	--color-iat3vvz2k: 241, 249, 252;
	--color-ira8wlzhh: 241, 249, 252;
	--color-iup1x03ao: 241, 249, 252;
	--color-irk4zq7ax: 241, 249, 252;
	--color-i55evvmxd: 241, 249, 252;
	--color-iz01s57pt: 241, 249, 252;
	--color-i7os97j6h: 241, 249, 252;
}
