
:root {
	--color-izntm0z3c: 208, 178, 63;
	--color-i1mwlexy8: 208, 178, 63;
	--color-i73jaahus: 208, 178, 63;
	--color-irzsrjhyp: 208, 178, 63;
	--color-iqy05dvnm: 208, 178, 63;
	--color-iijehunn7: 208, 178, 63;
	--color-iumzqdqux: 208, 178, 63;
	--color-i264xujrl: 208, 178, 63;
	--color-ix5oo72qo: 208, 178, 63;
	--color-ijm4p35l0: 208, 178, 63;
	--color-idisbdljm: 208, 178, 63;
	--color-i5o2vep3u: 208, 178, 63;
	--color-i9ju0stw5: 208, 178, 63;
	--color-i5lhlzcvl: 208, 178, 63;
	--color-i8jknqz28: 208, 178, 63;
	--color-irfi73dpz: 208, 178, 63;
	--color-i9t7qullx: 208, 178, 63;
	--color-im55yglgw: 208, 178, 63;
	--color-iq0xytzwb: 208, 178, 63;
	--color-iwgmpm1uf: 208, 178, 63;
	--color-iebyisnwq: 208, 178, 63;
	--color-iyf3tqath: 208, 178, 63;
	--color-iy468xmjg: 208, 178, 63;
	--color-imexeusiq: 208, 178, 63;
	--color-iuj0qmlg4: 208, 178, 63;
	--color-ixpldhvl2: 208, 178, 63;
	--color-ish891sus: 208, 178, 63;
	--color-i9h0n56l2: 33, 32, 37;
	--color-ij45ei805: 33, 32, 37;
	--color-i5in72dpt: 33, 32, 37;
	--color-ihdsxa1oh: 33, 32, 37;
	--color-ighypde41: 33, 32, 37;
	--color-ikmyy0dfy: 241, 249, 252;
	--color-iat3vvz2k: 241, 249, 252;
	--color-iz01s57pt: 241, 249, 252;
	--color-i7os97j6h: 241, 249, 252;
}
